@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	padding-top: 70px;
	color: #666;
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

body.homepage-body {
	padding-top: 0;
}

.homepage-header {
	padding: 10px 0;
	margin-bottom: 20px;
}

.jumbotron {
	background: white;
}

.jumbotron h1 {
	color: #9A12B3;
	font-weight: 300;
}

.jumbotron img {
	margin: 0 auto;
}

.container {
	width: 940px;
	max-width: 100%;
}

.navigation-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    padding-top: 7px;
    padding-bottom: 0px;
}

.navigation-bar .logo {
	font-weight: 300;
	font-size: 2em;
	color: #9A12B3;
	display: block;
	float: left;
	text-indent: -99999px;
	background: url(./../img/senza-logo.png);
	width: 121px;
	height: 30px;
	margin-top: 5px;
	outline: none;
}

.navigation-bar .navigation-links {
	list-style: none;
	float: right;
	margin-top: 8px;
}

.navigation-bar .navigation-links li {
	display: inline-block;
}

.navigation-bar .navigation-links li:nth-child(2) {
	font-size: 1.5em;
}

.navigation-bar .navigation-links li:nth-child(2) i {
	background: url(./../img/cart.png);	
	display: inline-block;
	background-size: cover;
	width: 41px;
	height: 30px;
	text-indent: 10px;
}


.navigation-bar .navigation-links li:nth-child(1) {
	padding-right: 20px;
    position: relative;
    top: -5px;
}

.scrolled {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
	font-weight: 300;
	font-size: 2em;
	color: #9A12B3 !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
}

a {
	color: #666;
}

a:hover {
	color: #666;
	text-decoration: none;
}

.category-row {
	margin-bottom: 30px;
}

.category-single .category-title {
	font-size: 15px;
	margin: 5px 0;
}

.category-single .category-description {
	color: #666;
	font-size: 12px;
	margin: 5px 0;
}

.category-single .category-details {
	margin-top: 10px;
}

.category-open-link {
	float: right;
	display: block;
}

.product-row {
	margin-bottom: 30px;	
}

.product-single .product-title {
	font-size: 15px;
	margin: 5px 0;
	text-align: center;
}

.product-single .product-price {
	color: #9A12B3;
	font-size: 12px;
	margin: 5px 0;
	text-align: center;
}

.product-single .product-details {
	margin-top: 10px;
}

.product-open-link {
	float: right;
	display: block;
}

.category-preview {
	margin-bottom: 30px;
}

.category-preview-title {
	color: #666;
	font-size: 33px;
}

.category-preview-description {
	color: #666;
}

.single-product-title {
	font-size: 28px;
	margin-top: 0;
}

.single-product-back {
	text-transform: uppercase;
}

.single-product-price {
	color: #9A12B3;
	margin-top: 0;
	margin-bottom: 0;
}

.single-product-price .old {
	display: block;
	font-size: 12px;
	text-align: center;
	text-decoration: line-through;
	color: #666;
}

.single-product-price .new {
	display: block;
	text-align: center;
}

.single-product-detail-list {
	line-height: 30px;
}

.single-product-detail-item {
    font-size: 13px;
}

.single-product-tab-details {
	margin-top: 20px;
}

.single-product-all-images-list {
	margin-top: 20px;
	text-align: center;
}

.single-product-all-images-list img {
	height: 100px;
	width: 100px;
}

.single-product-all-images-list img.selected {
	border: 1px solid #e2e2e2;
}

.size-form {
	margin-top: 20px;
}

.footer {
	background: #f2f2f2;
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;
}

.footer-links a:after {
	content: ' | ';
}

.footer-links a:last-of-type:after {
	content: '';
}

.copyright-footer {
	text-align: center;
	padding: 20px 0;
}

/* For buttons */

.btn.btn-primary {
	background: #9A12B3;
	border-color: #9A12B3;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
	background: #9A12B3;
	outline: none;
}

.btn.btn-primary:hover {
	background: #9A12B3;
}

.modal-form h2 {
	font-size: 36px;
    font-weight: 200;
	color: #9A12B3;
	margin-top: 0;
}

.modal-form h3 {
	font-size: 20px;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.modal-form .form-group {
	width: 300px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

.modal-form {
	margin-bottom: 100px;
}

.modal-header {
	border-bottom: none;
}

.btn-buy-now {
	background-color: white !important;
	color: #9A12B3;
	display: inline;
	float: left;
	margin-left: 5px;
}

.btn-buy-now:focus, .btn-buy-now:active, .btn-buy-now:focus:active {
	color: #9A12B3;
	outline: none;
}

.btn-buy-now:hover {
	color: #9A12B3;
}

#login-register-modal.show-register .login-form {
	display: none;
}

#login-register-modal.show-register .register-form {
	display: block;
}


#login-register-modal.show-login .register-form {
	display: none;
}

#login-register-modal.show-login .login-form {
	display: block;
}

.product-single {
	margin-bottom: 20px;
}

.spinner {
	width: 100px;
	float: left;
}
.spinner input {
}
.spinner .input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.spinner .input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.spinner .input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.spinner .input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.spinner .input-group-btn-vertical i{
	position: absolute;
	top: 0;
	left: 4px;
	font-size: .6em;
	padding-top: 4px;
}

.table-responsive {
	border: none !important;
}

.cart-table {
	padding: 20px;
}

.cart-table th {
	border: none !important;
}

.cart-table td {
	vertical-align: middle !important;
	border: none !important;
}

.cart-first-row-header {
	font-size: 24px;
}

.well.receipt {
	border: none;
}

.cart-table td img {
	display: inline;
	padding-right: 10px;
}

.cart-terms {
	font-size: 10px;
}

.receipt h2 {
	color: black;
	margin: 0;
}

.payment-options {
	margin: 0 auto;
}

.cart-extras {
	margin-top: 20px;
}

.cart-extras p {
    font-size: 13px;
}

.cart-extras p i {
	padding-right: 10px;
}

.buy-now-form-row {
	margin-top: 30px;
}

.single-product-image {
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.single-product-image {
		max-width: 440px;
		width: 100%;
	}
	.row-product-name-price {
		margin-top: 30px;
	}
}

@media screen and (max-width: 447px) {
	.single-product-price .old {
		left: -10px;
		top: 55px;
	}
}
